name: Simplebank CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./simplebank

    services:
      postgres:
        image: postgres:18-alpine
        env:
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: simple_bank
          POSTGRES_USER: root
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.5'

    - name: Inatall golang-migrate
      run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.19.1/migrate.linux-amd64.tar.gz | tar xvz
        sudo mv migrate /usr/local/bin/
        which migrate

    - name: Make Migrations
      run: make migrateup

    - name: Test
      env:
        SIMPLEBANK_DB_SOURCE: "postgresql://root:secret@localhost:5432/simple_bank?sslmode=disable"
      run: make test
